<div class="experienceItem relative">
  <small><%=	 team.init.strftime("%m/%d/%Y") %> - <%	if team.end && team.end < Time.new %><%=    team.end.strftime("%m/%d/%Y") %><% else%> Presente <%  end %></small>
  <h4>Team <%=	 team.name %></h4>
  <p></p>
  <a class="valid" data-placement="top" rel="tooltip" href="#" data-original-title="
certificate"></a>
  <% if signed_in? && current_user.id == team.user_id %>
    <%= link_to "Delete", team, method: :delete %>
  <%  end %>
</div>