<div class="experienceItem relative">
  <small><%=	 team.init %> - <%	if team.end && team.end < Time.new %><%=    team.end %><% else%> Presente <%  end %></small>
  <h4>Team <%=	 team.name %></h4>
  <p>Arquero del, en ese entonces, equipo de 3era división profesional.</p>
  <a class="valid" data-placement="top" rel="tooltip" href="#" data-original-title="
certificate"></a>
</div>