<p><%= @data[:name] %> invited you to join Let's Jock!</p>

<p><%= @data[:message] %></p>

<a href="http://www.letsjock.com">Join now - Únete ahora</a>
</br>
</br>
<div>
  <img src="https://dl.dropboxusercontent.com/u/6548854/Folleto_invitaci%C3%B3n.jpg">
</div>
