<p><%= @data[:name] %> wants to invite you to enter in Let's Jock!</p>

<img src="https://dl.dropboxusercontent.com/u/6548854/folleto_mail.jpg">

<p><%= @data[:message] %></p>
<a href="http://www.letsjock.com">Inscríbete ahora en Let's Jock!</a>