<p>A request for a new password has been accepted.</p>
<%= @user.full_name %>, please visit the following link to change your password.
If you did not ask for a new password please ignore this email and you password will stay as it is.
<p><%= confirmed_new_password_url(@user.email_token) %></p>