<h3>Bienvenido a Let's Jock</h3>
<p>¡Ya eres parte de la primera vitrina online para deportistas!
Acá podrás crear tu perfil deportivo con tu información personal, trayectoria, resultados, premios y mucho más.
También podrás subir fotos y videos realizando tu deporte favorito.</p>
<p>Te recomendamos crear un perfil lo más completo posible para aumentar tus oportunidades de ser visto por reclutadores y auspiciadores de todo el mundo.</p>
<p>La plataforma se encuentra en versión beta (marcha blanca) y por el momento solo en inglés.
  Próximamente habilitaremos la plataforma en español.</p>
<p>Será un gusto para nosotros recibir todas tus dudas o comentarios al mail: beta@letsjock.com </p>
<p>Por favor, haz click en el link que se encuentra a continuación para completar tu registro:</p>

<p><%= auth_email_url(@user, @user.email_token) %></p>

<p>Atentamente, </p>
<h5>Equipo Let's Jock</h5>