<div class="experienceItem relative">
          <small><%=	 competition.init.strftime("%m/%d/%Y") %> - <%	if competition.end && competition.end < Time.new %><%=    competition.end.strftime("%m/%d/%Y") %><% else%> Presente <%  end %></small>
          <h4><%=	 competition.name %></h4>
          <p></p>
          <a class="valid" data-placement="top" rel="tooltip" href="#" data-original-title="
certificate"></a>
  <% if signed_in? && current_user.id == competition.user_id %>
     <%= link_to "Delete", competition, method: :delete%>
  <%  end %>
</div>