<%=  link_to(raw("<div class='jock-on' href='#'></div><i class='icon-eye-open icon-2x'></i><p id='link-unfollow-text'>following</p> "), unfollow_path, :remote => true, :class => 'btn-jock', :id => "link-unfollow") %>
