<%= form_tag(:controller => "users", :action => "new_password_request") do %>
    <fieldset>
      <label>Enter your email to request a new password</label>
      <%= text_field_tag :email %>
      <%= submit_tag "Request new password", :class => "btn btn-primary" %>
    </fieldset>
<% end %>