<%= stylesheet_link_tag    "profile" %>
<div class="container">
  <div class="row white">
    <div class="page-title"></div>
    <%= form_tag({:controller => "users", :action => "new_password_request"}, {:class => "form-center span5"}) do %>
      <h3>¿Olvidaste tu contraseña?</h3>
      <label>Ingresa tu correo electrónico</label>
      <%= text_field_tag :email, nil, :placeholder => "correo electrónico", :class => "input-small input-block-level" %>
      <%= submit_tag "Enviar", :class => "btn btn-success pull-right clearfix" %>
      <div class="clearfix"></div>
      <div class="help">
        <p>¿Necesitas ayuda? <a href="#">Contáctate con nosotros</a></p>
      </div><!--help-->
    <% end %>
  </div><!--span12-->
</div><!-- /.container -->