<div class="lineTop">
</div><!-- /lineTop -->
<header>
  <div class="wrapper relative">
    <div class="logo">
    </div><!-- /logo -->
    <ul class="nav">
      <li class="btnInbox"><a href="#">inbox <span>1</span></a></li>
      <li><a href="#">contacts</a></li>
      <li><a href="#">events</a></li>
      <li><a href="#">news</a></li>
    </ul><!-- /nav -->
    <ul class="navRight">
      <li class="relative">
        <input type="text" placeholder="Busca deportistas, entrenadores, eventos..." />
        <button type="submit"></button>
      </li>
      <li class="options"><a href="#">Cristhian Lopez</a></li>
    </ul><!-- /navRight -->
  </div><!-- /wrapper -->
</header>
<span class="lineBr"></span>

<div class="container wrapper">
  <div class="profileColGraphic">
    <div class="profileImg">
      <a href="#"><span></span><img id= "test_pic" src="images/270x270.gif" width="270" height="270" alt="" title="" /></a>
    </div><!-- /profileImg -->
    <script type='text/javascript' src='/lib/jquery.js'></script>
    <script type='text/javascript'>
        var variable = location.search.substr(1);
        var first = (variable.split('&'))[0];
        var pic = first + '?type=large';
        $("#test_pic").attr("src", pic);
        //$("#test").html((variable.split('&'))[1]);
        $(".valid").tooltip();
    </script>

    <div class="profileThumb">
      <a href="#"><span></span><img src="images/90x90.gif" alt="" title="" /></a>
      <a href="#"><span></span><img src="images/90x90.gif" alt="" title="" /></a>
      <a href="#"><span></span><img src="images/90x90.gif" alt="" title="" /></a>
      <a href="#"><span></span><img src="images/90x90.gif" alt="" title="" /></a>
      <a href="#"><span></span><img src="images/90x90.gif" alt="" title="" /></a>
      <a href="#"><span></span><img src="images/90x90.gif" alt="" title="" /></a>
    </div><!-- /profileThumb -->
    <br class="clear" />
    <a href="" class="buttonBlack">View more pictures</a>
    <div class="profileVideo">
      <iframe width="270" height="152" src="http://www.youtube.com/embed/mGOeXhK2_WE" frameborder="0" allowfullscreen></iframe>
    </div><!-- /profileVideo -->
    <a href="" class="buttonBlack">View more videos</a>
  </div><!-- /profileColGraphic -->

  <ul class="profileIcons">
    <li><span class="iconProfile iconContacts"></span><a href="#">324 contacts</a></li>
    <li><a href="#"><span class="iconProfile iconRecommendation"></span>21 recommendations</a></li>
    <li><a href="#"><span class="iconProfile iconPictures"></span>65 pictures</a></li>
    <li><a href="#"><span class="iconProfile iconVideos"></span>3 videos</a></li>
  </ul><!-- /profileIcons -->

  <div class="profileInfo relative">
    <h1>Cristhian López López</h1>
    <p><strong>Soccer Goalkeeper</strong> / 22 años, Santiago, Chile</p>
    <ul class="boxConnect">
      <li><a class="verified" href="#"></a></li>
      <li><a class="connect" href="#"><p>connect</p></a></li>
      <li><a class="jockOn" href="#"><p>jock-on!</p></a></li>
    </ul><!-- /boxConect -->
  </div><!-- /profileInfo -->

  <div class="experienceLine">
    <ul>
      <li>
        <h2>Abstract</h2>
        <p>Mi nombre es Cristhian López y soy arquero de fútbol desde muy pequeño. Actualmente juego en la Pontificia Universidad Católica de Chile, y he pertenecido a equipos de 3era división profesional.</p>
      </li>

      <li>
        <h2>Lastest honors</h2>
        <ul>
          <li>Premio 1</li>
          <li>Premio 2</li>
          <li>Premio 3</li>
          <li>Premio 4</li>
        </ul>
      </li>

      <li>
        <h2>Experience</h2>
        <div class="experienceItem relative">
          <small>Agosto 2010 - Presente</small>
          <h4>Arquero Universidad Católica</h4>
          <p>Arquero de la institución académica.</p>
        </div>

        <div class="experienceItem relative">
          <small>Enero 2007 - Julio 2010</small>
          <h4>Arquero Deportes Peñalolén</h4>
          <p>Arquero del, en ese entonces, equipo de 3era división profesional.</p>
          <a class="valid" data-placement="top" rel="tooltip" href="#" data-original-title="
certificate"></a>
        </div>
      </li>

    </ul>
  </div><!-- /experienceLine -->

  <div class="sidebar">
    <div class="sidebarBox">
      <a href="#"><h3>News and events</h3></a>
      <a href="#">
        <div class="sidebarBoxItem">
          <p><small>News | Publicado 14 de Diciembre</small></p>
          <p>Nuevo Evento: Corrida Milo</p>
        </div><!-- /sidebarBoxItem -->
      </a>
      <a href="#">
        <div class="sidebarBoxItem">
          <p><small>News | Publicado 14 de Diciembre</small></p>
          <p>Nuevo Torneo: Copa Copec</p>
        </div><!-- /sidebarBoxItem -->
      </a>
      <a href="" class="buttonBlack">View more</a>
    </div><!-- /sidebarBox -->

    <div class="sidebarBox">
      <a href="#"><h3>People you may know</h3></a>
      <div class="sidebarBoxUser">
        <div class="sidebarBoxUserImg">
          <img src="images/72x72.gif" alt="" title="" />
        </div><!-- /sidebarBoxUserImg -->
        <p>Friend 1</p>
        <a href="#"><div class="miniConect">conectar</div></a>
      </div><!-- /sidebarBoxUser -->

      <div class="sidebarBoxUser">
        <div class="sidebarBoxUserImg">
          <img src="images/72x72.gif" alt="" title="" />
        </div><!-- /sidebarBoxUserImg -->
        <a href="#"><p>Friend 2</p></a>
        <a href="#"><div class="miniConect">conectar</div></a>
      </div><!-- /sidebarBoxUser -->

      <div class="sidebarBoxUser">
        <div class="sidebarBoxUserImg">
          <img src="images/72x72.gif" alt="" title="" />
        </div><!-- /sidebarBoxUserImg -->
        <p>Friend 3</p>
        <a href="#"><div class="miniConect">conectar</div></a>
      </div><!-- /sidebarBoxUser -->

      <a href="#" class="buttonBlack">View more</a>
    </div><!-- /sidebarBox -->
    <img src="images/220x220.gif" alt="" title="" />
  </div><!-- /sidebar -->
  <br class="clear" />
</div><!-- /container -->

<footer >
</footer>