/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration:none;
    font-weight:normal;
}


article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display: block;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#666;
    line-height:20px;
    background-color:#f3f3f3;
}

h1{
    font-size:20px;
    color:#FFF;
    font-weight:bold;
}

h2{
    font-size:14px;
    color:#fa0018;
    font-weight:bold;
    margin-bottom:8px;
}

h4{
    font-weight:bold !important;
    color:#333;
}

b{
    font-weight:bold !important;
}

strong{
    font-weight:bold;
}

.clear{
    clear:both;
}

.wrapper{
    width:940px;
    margin:0 auto;
}

.relative{
    position:relative;
}

.lineBr{
    width:100%;
    height:1px;
    display:block;
    background-color:#333;
    border-top:1px solid #000;
    position:relative;
    z-index:9991;
}

.lineTop{
    width:100%;
    height:4px;
    background-color:red;
    position:relative;
    z-index:9991;
}

header{
    width:100%;
    height:45px;
    background-color:#1e1e1e;
    z-index:999;
    position:relative;
}

.logo{
    width:175px;
    height:72px;
    background-image:url("letsjock.png");
    position:absolute;
    left:-20px;
    z-index:9999;
}

ul.nav{
    margin-left:160px;
    line-height:45px;
}

ul.nav li{
    list-style:none;
    float:left;
    margin-left:20px;
}

ul.nav li a{
    color:#FFF;
    font-weight:bold;
    font-size:14px;
    cursor:pointer;
}

ul.nav li a:hover{
    color:#CCC;
}

ul.nav li.btnInbox{
    position:relative;
}

ul.nav li span {
    background-color: #FA0018;
    color: #FFF;
    font-weight:bold;
    padding:4px 8px;
    line-height: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;


    /*
     float: left;
     text-align: center;
     position: absolute;
     width: 20px;
     display: block;
     height: 20px;
     left: 46px;
     top: 13px;
     */
}

ul.navRight{
    position:absolute;
    right:0;
}

ul.navRight li{
    list-style:none;
    float:left;
}

ul.navRight li.options:hover a{
    color:#FFF;
}

ul.navRight li.options{
    line-height:45px;
}

ul.navRight li input[type="text"]{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width:230px;
    height:28px;
    border:none;
    background-color:#e8e8e7;
    margin:8px 15px 0 0;
    padding:0 5px;
    font-size:10px;
    line-height:28px;
}

ul.navRight li button {
    background-color: transparent;
    background-image: url("search.png");
    border: medium none !important;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 15px;
    width: 16px;
    cursor:pointer;
}

ul.navRight li.options a {
    background-image: url("arrowBottom.png");
    background-position: 100px 20px;
    background-repeat: no-repeat;
    color: #CCCCCC;
    display: block;
    height: 45px;
    width: 114px;
}

.container{
    background-image:url("container.png");
    background-repeat:repeat-y;
}

.profileColGraphic{
    width:270px;
    float:left;
}

.profileImg{
    width:100%;
    height:270px;
    overflow:hidden;
    position:relative;
}

.profileImg img{
    width:100%;
}

.profileThumb a{
    width:90px;
    height:90px;
    position:relative;
    display:block;
    float:left;
}

.profileThumb a span, .profileImg span, span.puntos{
    width:100%;
    height:100%;
    position:absolute;
    background-image:url("puntos.gif");
    left:0;
    top:0;
}

.profileThumb img{
    float:left;
}

.profileVideo{
    margin:0;
    padding:0;
    height:152px;
}

a.buttonBlack{
    width:100%;
    height:25px;
    display:block;
    line-height:25px;
    color:#545454;
    font-size:12px;
    background-color:#161616;
    text-align:center;
}

a.buttonBlack:hover{
    background-color:#333;
    color:#CCC;
}

ul.profileIcons{
    width:650px;
    padding-left:20px;
    height:35px;
    background:#2b2b2b;
    float:left;
}

ul.profileIcons li{
    list-style:none;
    float:left;
    line-height:35px;
    margin-right:25px;
}

ul.profileIcons li a{
    color:#545454;
    cursor:pointer;
}

ul.profileIcons a:hover{
    color:#999;
}

.profileInfo{
    width:650px;
    height:65px;
    padding-left:20px;
    background:#2b2b2b;
    float:left;
    background-image:url("lineProfile.png");
}

ul.boxConnect{
    position:absolute;
    right:0;
    top:0;
}

ul.boxConnect li{
    float:left;
    list-style:none;
}

ul.boxConnect li a p{
    position:absolute;
    bottom:7px;
    font-size:11px;
    text-align:center;
    width:65px;
}

ul.boxConnect a.connect{
    height:65px;
    width:65px;
    display:block;
    background-color:#1c1c1c;
    background-image:url("moreConnect.png");
    background-repeat:no-repeat;
    background-position:center 8px;
}


ul.boxConnect a.upload{
    height:65px;
    width:65px;
    display:block;
    background-color:#1c1c1c;
    background-image:url("upload.png");
    background-repeat:no-repeat;
    background-position:center 8px;
}

ul.boxConnect a.verified{
    height:65px;
    width:65px;
    display:block;
    background-image:url("verified.png");
    background-repeat:no-repeat;
}

ul.boxConnect a.connect:hover, ul.boxConnect a.upload:hover{
    background-color:#292929;
}

ul.boxConnect a.jockOn:hover{
    background-color:#444343;
}

ul.boxConnect a.connect p, ul.boxConnect a.upload p{
    color:#0078FB;
}

ul.boxConnect a.jockOn p{
    color:#999;
}

ul.boxConnect a.jockOn{
    height:65px;
    width:65px;
    display:block;
    background-color:#333;
    background-image:url("eye.png");
    background-repeat:no-repeat;
    background-position:center 8px;
}

ul.boxConnect a p:hover{
    text-decoration:none !important;
}

.iconProfile{
    background-image:url("iconsProfile.png");
    float:left;
    margin-right:8px;
    height:35px;
    background-repeat:no-repeat;
}

.iconContacts{
    width:28px;
    background-position:0 center;
}

.iconRecommendation{
    width:17px;
    background-position:-29px center;
}

.iconPictures{
    width:15px;
    background-position:-47px center;
}

.iconVideos {
    background-position: -63px center;
    width: 22px;
}

.profileInfo p{
    color:#FFF;
}

.profileInfo h1{
    margin-top:12px;
}

.profileInfo p strong{
    font-size:15px;
}

.experienceLine{
    width:410px;
    float:left;
    padding:8px 20px;
}

.sidebar{
    width:220px;
    float:left;
}

.sidebarBox{
    width:100%;
    background-color:#232323;
    margin-top:8px;
}

.sidebarBox h3{
    width:210px;
    height:40px;
    line-height:40px;
    color:#fa0018;
    font-weight:bold;
    padding-left:10px;
    border-bottom:1px solid #000;
}

.sidebarBox h3:hover{
    color:#a9000a;
}

.sidebarBoxItem{
    padding:10px 10px;
    border-bottom:1px solid #000;
    border-top:1px solid #333;
}

.sidebarBoxItem p {
    color: #666666;
    font-size: 12px;
    font-weight: bold !important;
    line-height: 17px;
}

a p:hover {
    color:#777;
    text-decoration:underline;
}

.sidebarBoxItem small{
    font-size:10px;
    color:#910004;
}

.sidebarBoxUser{
    border-bottom:1px solid #000;
    border-top:1px solid #333;
    height:72px;
}

.sidebarBoxUserImg{
    width:72px;
    height:72px;
    float:left;
    margin-right:10px;
    overflow:hidden;
}

.sidebarBoxUser p {
    float: left;
    font-weight: bold !important;
    line-height: 17px;
    width: 125px;
    margin-top:8px;
    font-size:12px;
}

.sidebarBoxUser a {
    color:#666;
}

.miniConect {
    background-image: url("moreBlue.jpg");
    background-position: 0 center;
    background-repeat: no-repeat;
    color: #0078FB;
    float: left;
    height: 20px;
    line-height: 20px;
    padding-left: 21px;
}

.experienceLine ul li{
    border-bottom:1px solid #CCC;
    list-style:none;
    padding-bottom:15px;
    margin-bottom:10px;
}

.experienceLine ul li:last-child{
    border-bottom:none;
}

.experienceLine ul li ul li{
    border-bottom:none;
    padding-bottom:0;
    margin-bottom:0;
}

.experienceLine ul li ul{
    padding-left:0px;
}

.experienceItem{
    padding-bottom:15px;
}

.experienceItem small{
    font-size:11px;
    color:#910004;
}

.valid{
    width:15px;
    height:13px;
    display:block;
    background:url("valid.png");
    position:absolute;
    top:0;
    right:0;
}

a.edit{
    font-size:11px;
    color:#A20B1C;
}

a.edit:hover{
    color:red;
    text-decoration:underline;
}

a.editWhite{
    font-size:11px;
    color:#CCC;
}

a.editWhite:hover{
    color:#FFF;
    text-decoration:underline;
}

.editForm{
    font-size:12px;
}

textarea.editForm{
    width:390px;
    height:120px;
}

/* HOME */

.register{
    float:right;
    width:256px;
    margin-top:70px;
}

.imgHome{
    background-image:url("imgHome.jpg");
    width:100%;
    height:650px;
    position:absolute;
    top:0;
    z-index:1;
}

header.homepage{
    background-color:transparent;
    background-image:url("bgHeader.png");
}

.logoHome{
    background-color:transparent;
    background-image:url("letsJockBig.png");
    width:450px;
    height:159px;
    float:left;
    margin-top:150px;
}

.loginForm{
    padding-bottom:0;
    display:block;
    height:auto;
    width:100%;
}

.registerCont{
    position:relative;
    z-index:9992;
}

.passLogin{
    position:relative;
}

.register input[type="text"], .register input[type="password"]{
    width:241px;
    height:22px;
    background:#000;
    border:1px solid #C4000B;
    font-size:12px;
    color:#888;
    line-height:18px;
}

.register input[type="password"].passLogin{
    width:165px;
    float:left;
}

.passLogin button {
    background-image: url("singUp.jpg");
    border: medium none;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    position: absolute;
    width: 80px;
    z-index: 9991;
    right:0;
}

.register input[type="text"].nameForm, .register input[type="text"].lastnameForm{
    width:110px;
}

.register input[type="text"].lastnameForm{
    float:right;
}

.registerForm button{
    background-image:url("singUp.jpg");
    width:100%;
    height:34px;
    line-height:34px;
    color:#FFF;
    font-size:12px;
    font-weight:bold;
    display:block;
    border:none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position:relative;
    z-index:9991;
    cursor:pointer;
}

.registerForm{
    padding-top:20px;
}

.registerForm button:hover, .passLogin button:hover {
    background-position:0 38px;
}

.superButton{
    width:100%;
    height:37px;
    position:relative;
}

.buttonShadow{
    width:100%;
    height:34px;
    background-color:#580106;
    display:block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position:absolute;
    top:3px;
    z-index:999;
}

.txtRegister{
    font-size:14px;
    font-weight:bold;
    color:#FFF;
    padding-bottom:10px;
    display:block;
}


.txtRegister b{
    color:#FA0018;
}

.facebook{
    width:128px;
    height:33px;
    display:block;
    background-image:url("redesSociales.png");
    float:left;
    cursor:pointer;
}

.twitter{
    width:128px;
    height:33px;
    display:block;
    background-image:url("redesSociales.png");
    background-position:128px 0;
    float:left;
    cursor:pointer;
}


.twitter:hover{
    background-position:128px 33px;
}

.facebook:hover{
    background-position:0 33px;
}