span.errorClass
{
    color: #ff0000 !important;
    margin-bottom: 0px !important;
    padding: 5px 0px 5px 0px !important;
}

.errorClass span
{
    color: #ff0000 !important;
    margin-bottom: 0px !important;
    padding: 5px 0px 5px 0px !important;
}