/*Profile CSS */

/*.box{background:aqua;}*/
.box p, .box ul, .box ol{font-size:13px;}

/*box-media: left box for photos, videos and more*/
.box-media{}/*added: background deleted*/

img.user-profile{
    width:100%;
    height:auto;
}

.user-pictures a img{
    margin:0;
    padding:0;
    float:left;
    width:90px;
    height:90px;
}

.box-media p{
    text-align:right;
    margin:0;
    font-size:12px;
}

.box-media p a {
    font-weight:bold;
    color: #333;
}

.box-media .btn{
    margin-bottom:10px;
}
.box-media .btn, .box-media p{
    margin-right:10px;
}

.box-media .modal-footer .btn{margin:0;}

/*<ul class="profileIcons">*/
ul.profileIcons{
    display:block;
    background: #2B2B2B;
    padding:12px 0;
    margin-bottom:0;
}

ul.profileIcons a{
    color:white;
    padding:0 6px;
    font-size: 12px;
}

ul.profileIcons li{
    list-style: none outside none;
    display: inline;
    padding: 0 20px;
    border-right:1px solid #3B3B3B;
}
ul.profileIcons li:first-child{
    padding-left:0;
}

/*<div class="profileInfo">*/
.profileInfo{
    background-color: rgb(198,9,28);
    background-image: linear-gradient(left top, rgb(198,9,28) 44%, rgb(140,13,26) 72%);
    background-image: -o-linear-gradient(left top, rgb(198,9,28) 44%, rgb(140,13,26) 72%);
    background-image: -moz-linear-gradient(left top, rgb(198,9,28) 44%, rgb(140,13,26) 72%);
    background-image: -webkit-linear-gradient(left top, rgb(198,9,28) 44%, rgb(140,13,26) 72%);
    background-image: -ms-linear-gradient(left top, rgb(198,9,28) 44%, rgb(140,13,26) 72%);
    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0.44, rgb(198,9,28)),
        color-stop(0.72, rgb(140,13,26))
    );
    color:white;
    position:relative;
}

.profileInfo a{
    color:white;
    /*margin-right:6px;*//*added this: remove margin-right*/
}

.profileInfo h2{
    margin-bottom:0;
}

.profileInfo p b:after{
    content:" / ";
}

.profileInfo .user{
    width:570px;
}

.profileInfo .connections{
    margin-left:30px;
}
.profileInfo .user, .profileInfo .connections{
    display:inline-block; float:left;
}
.connections img{margin-top:9px;}
a.btn-jock{position:absolute; top:0; right:0; width:90px; height:100%; background:#333; text-align:center;  color:#CCC; text-decoration:none; font-weight:bold;}
a.btn-jock  i{margin-top:14px;}
a.btn-jock:hover{text-decoration:none; color:#0079FC;}
/*.jock-on{background:url("img/eye.png") center no-repeat; width:27px; height:15px; padding:4px 16px; margin:18px auto 0;}*/
/*a:hover .jock-on{background:url("img/eye-hover.png") center no-repeat;}*/


ul.profileIcons, .profileInfo{
    margin-left:0;
    padding-left:30px;
}


/*box-info: center box for Profile Info*/
.box-info{/*all of this added*/
    background:white;
    box-shadow:-1px 0 1px #CCC;
    -webkit-box-shadow:-1px 0 1px #CCC;
    -moz-box-shadow:-1px 0 1px #CCC;
    padding:0 30px;
    margin-left:0;
}

.resume{
    padding: 10px 0;
    margin-bottom:10px;
    border-bottom:1px solid #EEE;/*added*/
    position:relative;
}
.resume:last-child{
    border-bottom:none;
    padding-bottom:0;
}

.box-info h4{
    margin-bottom:10px;
}

ul.experience{
    border-bottom:1px dotted #EEE; /*added*/
    margin:0;
    padding:10px 0 10px 25px;
}

/*ultima lista del div*/
.resume > ul:last-child{
    border-bottom:none;
}

ul.experience li{
    list-style:none outside none;
}
/*titulo en lista*/
ul.experience li h5{margin-top:0; margin-bottom:0;}

/*deporte en el titulo y fecha el lista*/
ul.experience li h5 span,
li.calendar{font-size:small; color:gray; font-weight:normal;}

/*separador en la lista*/
.experience hr{margin:8px 0 6px; border-width:0;}
form .experience hr{border-width:1px;}

/*iconos en lista*/
ul.experience li i{
    position:relative;
    margin: 0 5px 0 -20px;
}

/*parrafo descriptivo en lista*/
ul.experience li p{
    font-size:12px;
    margin:10px 0 8px;
}

li.trained{
    display:inline;
}


/*box-connect: right box for connections*/
.box-connect{
    background: #2B2B2B;
    color:#CCC;
    margin-left:0;/*added*/
}

a.align-right{text-align:right; display:block; margin-bottom:20px;}
/*aside list*/
ul.aside{list-style:none outside none; margin:0;}
ul.aside li{border-top:1px solid #444; border-bottom:1px solid black; padding:10px 0;}
ul.aside li:last-child{border-bottom:none;}
ul.aside li:first-child{border-top:none;}

ul.aside li:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.aside p{font-size:12px; margin:0; line-height:120%; display:inline-block;}
ul.aside a{font-weight:bold;}

ul.aside .metadata button{display:block; margin-top:0.8em;}

.img-container{width:45%; height:70px; overflow:hidden; float:left; margin-right:10px;}/*height before was auto*/
.img-container img{width:100%; height:auto;}

.metadata{}

/*events related in a list*/
ul.connect-events li{border-top:1px solid #444; border-bottom:1px solid black; padding:10px 0;}
/*ul.connect-events li:first-child{border-top:none;}*/

/*people in a list*/
ul.connect-people li{/*border:1px solid #4B4B4B; padding-bottom:0; */position:relative;}
/*ul.connect-people li:last-child{border-bottom:1px solid #4B4B4B;}*/
ul.connect-people .img-container{width:70px; height:70px;}

a.follow{/*position:absolute; background:white; padding:0.2em 0.4em; bottom:10px; color:#2B2B2B;*/ font-size:12px;}
a.follow:hover{color:#0079FC;}
a.follow:hover i{text-decoration:none;}

.box-content{
    padding:0 10px;
}

/*Extra: Forms with bottom*/
.btn.add{margin:4px 0 0 4px;}
.form-inline{margin-bottom:5px;}
.resume textarea{border-top-left-radius:0;}
/*.resume .input-append .add-on, .resume .input-prepend .add-on{background:#C6091C;}*/

/*add new*/
.add-new, .add-new:visited{
    color: #51A351;
    font-size: 12px;
    font-weight: bold;
}
.add-new:hover, .add-new:active{color:#51A351; text-decoration:none;}
.add-new span{
    font-size: 19px;
    font-weight: bolder;
    margin: 0 4px;
    vertical-align: baseline;
}

/*Formularios*/

.box-info .resume form{
    margin:10px -30px 10px;
    padding:20px 30px;
    background-color:#F6F6F6;
    border:none;
    border-radius:4px;
    font-size: 13px;
}

.box-info .resume form fieldset{
    padding-bottom:10px;
    border-bottom:1px solid #DDD;
    margin-bottom:7px;
}

p.detail{display:inline-block; font-size:12px; margin:6px 0 0 10px; font-style:italic;}
p.detail:before{content:"* ";}

legend{
    font-size:16px;
    line-height:140%;
    margin-bottom:10px;
    color:#888;
    font-weight:bold;
    border-bottom:none;
}

.header-buttons{
    -moz-column-count: 4;
    -moz-column-gap: 8px;
    -webkit-column-count: 4;
    -webkit-column-gap: 8px;
    column-count: 4;
    column-gap: 8px;
    width:100%;
    margin-bottom:20px;
}

.header-buttons button{
    display: inline-block; /* Display inline-block, and absolutely NO FLOATS! */
    width: 100%;
    color:white;
    font-size:13px;
    padding: 5px;
    border:none;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    font-weight:bold;
}
.header-buttons  a button:hover, .header-buttons a button:active{
    background-color:#51A351 !important;
    background-image:none;
    box-shadow:inset  0px 1px 2px rgba(0,0,0,0.30);
    -moz-box-shadow:inset  0px 1px 2px rgba(0,0,0,0.30);
    -webkit-box-shadow:inset  0px 1px 2px rgba(0,0,0,0.30);
}

.header-buttons a i {display:block;}

.main-fields{margin-bottom:18px;}
/*inputs*/

.box-info .resume .added-fields .input-append, .box-info .resume .added-fields .input-prepend{display:block;}
.box-info .resume .add-form{display: inline !important;}
.box-info .resume .add-form span:last-child{background-color:white;}
.box-info .resume input, .box-info .resume select, .box-info .resume textarea{font-size:12px;}
.box-info .resume select{padding-top:6px; width:150px;}

.input-append select, .input-prepend select{
    width:118px;
    border-right:none;
    border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;
}
.input-append input, .input-prepend input{border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; border-right:none;}
input.last-input, .input-append input:last-child, .input-prepend input:last-child{border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; border-right:1px solid #CCC;}

/*Preview*/
.preview{}

/*Boton para cambiar foto*/

.box .img-polaroid{
    position:relative;
}

.box .img-polaroid .dropdown{
    display:none;
    position:absolute;
    bottom:0;
    right:0;
    margin:4px;
    border-radius:4px 4px 0 4px;
    -moz-border-radius:4px 4px 0 4px;
    -webkit-border-radius:4px 4px 0 4px;
    border:1px solid #EFEFEF;
}

.box .img-polaroid:hover .dropdown{
    display: block;
    cursor: pointer;
}

.box .img-polaroid .dropdown a.btn{
    margin:0;
    color:black;
}

.box .img-polaroid .dropdown a:focus.btn, .box .img-polaroid .dropdown a:active.btn  {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.box .img-polaroid .dropdown-menu > li > a:hover, .box .img-polaroid .dropdown-menu > li > a:focus, .box .img-polaroid .dropdown-submenu:hover > a, .box .img-polaroid .dropdown-submenu:focus > a{
    background-color:#51A351;
    color:white;
}

/*Edit Profile*/

form.edit-profile{
    margin-top:-10px !important;
}

.resume.edit{
    margin-bottom:0;
    padding-bottom:0;
    border-bottom:none;
}


.box-info .resume .edit-profile fieldset{
    border-bottom:none !important;
    margin-bottom:0;
    padding-bottom:0;
}

input.error-field, textarea.error-field{
    color:#C6091C;
    border: 1px solid #C6091C !important;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);/*solo color de prueba¨*/
}

input.error-field:hover, textarea.error-field:hover{
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
}

/*Modal Eventos*/

#myEvents .modal-body {text-align:left;}

#myEvents table tr td:first-child{
    width:50% !important;
}
#myEvents table tr td:last-child{
    width:64px !important;
}
