/*Profile CSS */

/*.box{background:aqua;}*/
.box p{font-size:13px;}

/*box-media: left box for photos, videos and more*/
.box-media{
    background:rgba(0,0,0,0.1);
}

img.user-profile{
    width:100%;
    height:auto;
    border-bottom:3px solid #333;
}

.user-pictures a img{
    margin:0;
    padding:0;
    float:left;
    width:90px;
    height:90px;
}

.box-media p{
    text-align:right;
    margin:0;
    font-size:12px;
}

.box-media p a {
    font-weight:bold;
    color: #333;
}

.box-media .btn{
    margin-bottom:10px;
}
.box-media .btn, .box-media p{
    margin-right:10px;
}

/*<ul class="profileIcons">*/
ul.profileIcons{
    display:block;
    background: #2B2B2B;
    padding:12px 0;
    margin-bottom:0;
}

ul.profileIcons a{
    color:white;
    padding:0 6px;
    font-size: 12px;
}

ul.profileIcons li{
    list-style: none outside none;
    display: inline;
    padding: 0 20px;
    border-right:1px solid #3B3B3B;
}
ul.profileIcons li:first-child{
    padding-left:0;
}

/*<div class="profileInfo">*/
.profileInfo{
    background-image: linear-gradient(left top, rgb(198,9,28) 44%, rgb(140,13,26) 72%);
    background-image: -o-linear-gradient(left top, rgb(198,9,28) 44%, rgb(140,13,26) 72%);
    background-image: -moz-linear-gradient(left top, rgb(198,9,28) 44%, rgb(140,13,26) 72%);
    background-image: -webkit-linear-gradient(left top, rgb(198,9,28) 44%, rgb(140,13,26) 72%);
    background-image: -ms-linear-gradient(left top, rgb(198,9,28) 44%, rgb(140,13,26) 72%);
    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0.44, rgb(198,9,28)),
        color-stop(0.72, rgb(140,13,26))
    );
    color:white;
    position:relative;
}

.profileInfo h2{
    margin-bottom:0;
}

.profileInfo p b:after{
    content:" / ";
}

.profileInfo .user{
    width:570px;
}

.profileInfo .connections{
    margin-left:30px;
}
.profileInfo .user, .profileInfo .connections{
    display:inline-block; float:left;
}
.connections img{margin-top:9px;}
.btn-jock{position:absolute; top:0; right:0; width:90px; height:100%; background:#333; text-align:center;}

.jock-on{background:url("eye.png") center no-repeat; width:27px; height:15px; padding:4px 16px; margin:18px auto 0;}
a:hover .jock-on{background:url("eye-hover.png") center no-repeat;}
a.btn-jock p{color:#999;}
a.btn-jock:hover{text-decoration:none;}
a.btn-jock:hover p{color:#0079FC;}

ul.profileIcons, .profileInfo{
    margin-left:0;
    padding-left:30px;
}


/*box-info: center box for Profile Info*/
.box-info{}

.resume{
    padding: 10px 0;
    margin-bottom:10px;
    border-bottom:1px solid gray;
}

.box-info h4{
    margin-bottom:10px;
}

ul.experience{
    border-bottom:1px dotted gray;
    margin:0;
    padding:0 0 10px 25px;
}

/*ultima lista del div*/
.resume > ul:last-child{
    border-bottom:none;
}

ul.experience li{
    list-style:none outside none;
}
/*titulo en lista*/
ul.experience li h5{margin-bottom:0;}

/*deporte en el titulo y fecha el lista*/
ul.experience li h5 span,
li.calendar{font-size:small; color:gray; font-weight:normal;}

/*iconos en lista*/
ul.experience li i{
    position:relative;
    margin: 0 5px 0 -20px;
}

/*parrafo descriptivo en lista*/
ul.experience li p{
    font-size:12px;
    margin:10px 0 8px;
}

li.trained{
    display:inline;
}


/*box-connect: right box for connections*/
.box-connect{
    background: #2B2B2B;
    color:#CCC;
}

a.align-right{text-align:right; display:block; margin-bottom:20px;}
/*aside list*/
ul.aside{list-style:none outside none; margin:0;}
ul.aside li{border-top:1px solid #444; border-bottom:1px solid black; padding:10px 0;}
ul.aside li:last-child{border-bottom:none;}
ul.aside li:first-child{border-top:none;}

ul.aside li:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.aside p{font-size:12px; margin:0; line-height:120%;}
ul.aside a{font-weight:bold;}

.img-container{width:45%; height:70px; overflow:hidden; float:left; margin-right:10px;}/*height before was auto*/
.img-container img{width:100%; height:auto;}

.metadata{}

/*events related in a list*/
ul.connect-events li{border-top:1px solid #444; border-bottom:1px solid black; padding:10px 0;}
/*ul.connect-events li:first-child{border-top:none;}*/

/*people in a list*/
ul.connect-people li{/*border:1px solid #4B4B4B; padding-bottom:0; */position:relative;}
/*ul.connect-people li:last-child{border-bottom:1px solid #4B4B4B;}*/
ul.connect-people .img-container{width:70px; height:70px;}

a.follow{position:absolute; background:white; padding:0.2em 0.4em; bottom:10px; color:#2B2B2B; font-size:12px;}
a.follow:hover{background:#CCC; text-decoration:none;}

.box-content{
    padding:0 10px;
}