<footer>
  <div class="container">
    <p>© Let's Jock · <a href="/about">Sobre Let's Jock</a> · <a href="/about#contact-us">Contáctanos</a> · <a href="/about#privacy-policy">Privacy Policy</a> · <a href="/about#terms-conditions">Terms & Conditions</a> · <a class="icon" href="https://www.facebook.com/LetsJock"><i class="icon-facebook-sign icon-large"></i></a> · <a class="icon" href="https://twitter.com/letsjock"><i class="icon-twitter-sign icon-large"></i></a></p>
  </div>

  <script>
      $('[rel=tooltip]').tooltip({
          'selector': '',
          'placement': 'bottom'
      });
      jQuery(function($) {
          $('[data-toggle=dropdown]').dropdown();
          $('[data-toggle=button]').button();
          $('[data-toggle=collapse]').collapse();
          $('[rel=popover]').popover();
          $('#notifications-button').click(function(){
              $('#notifications-pop').toggle();
          });
      });
  </script>
  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41027613-1']);
      _gaq.push(['_setDomainName', 'letsjock.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>
</footer>

