<footer>
  <div>
    <p class="pull-right"><a href="#">Back to top <i class="icon-arrow-up"></i></a></p>
    <p>© Let's Jock · <a href="#">About Us</a> · <a href="#">Privacy Policy</a> · <a href="#">Contact Us</a> · <a href="#">Terms & Conditions</a></p>
  </div>

  <script>
      $('[rel=tooltip]').tooltip({
          'selector': '',
          'placement': 'bottom'
      });
      jQuery(function($) {
          $('[data-toggle=dropdown]').dropdown();
          $('[data-toggle=collapse]').collapse();
          $('[rel=popover]').popover();
          $('#notifications-button').click(function(){
              $('#notifications-pop').toggle();
          });
      });
  </script>

</footer>

