<div id="inviteFriends" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><i class="icon-envelope-alt"></i> Invite your friends</h3>
  </div>
  <div class="modal-body">
    <input type="text" class="input-small input-block-level" placeholder="Your friend's email!">
    <textarea rows="3" class="input-small input-block-level" placeholder="Write here!">Join Let's Jock now! The first sportsmen recruiting platform. It's a display case to show your sports talent and contact recruiters and sponsors from all over the world. And It's free!</textarea>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
    <a href="#" class="btn btn-success">Send</a>
  </div>
</div>