<div class="box box-connect span3">
  <div class="box-content">
    <h5>Spread the word and help us to change the sports world!</h5>
    <a href="#inviteFriends" class="btn btn-success input-block-level" role="button" data-toggle="modal">
      <strong>Invite your friends</strong>
    </a>
    <br>
  </div>
</div>