<div id="askRecommendation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><i class="icon-file-text-alt"></i> Ask for a recommendation</h3>
  </div>
  <div class="modal-body">
    <input type="hidden" id="writer_id" name="writer_id" value="">
    <input type="text" class="typeahead users input-block-level" placeholder="Find a user" data-provide="typeahead" data-origin="User">
    <span class="hide"></span>
    <input type="text" class="input-block-level email-box hide" placeholder="User doesn't exist. Enter email address">
    <span class="input-block-level">Ask recommendation to:</span>
    <select id="writer_type" name="writer_type" class="input-block-level">
      <option value="">Choose a category</option>
      <option value="Coach">Coach</option>
      <option value="Sponsor">Sponsor</option>
      <option value="Sports teammate">Sports teammate</option>
      <option value="Professional related to sports">Professional related to sports</option>
      <option value="Other">Other</option>
    </select>
    <input type="text" class="input-block-level other-type hide" placeholder="Specify other">
    <%= render :partial => 'sports/autocomplete', :locals => { :sport_id => nil } %>
    <span class="input-block-level">Message:</span>
    <textarea rows="4" class="input-small input-block-level" placeholder="Write a message">
I'm sending this e-mail to ask you for a recommendation to include it in my Let's Jock profile.

Thanks for helping me out!
    </textarea>
    
    <div class="alert alert-success hide">
      Recommendation request sent.
    </div>
    <div class="alert alert-error hide">
      
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
    <a href="#" class="btn btn-success">Send request</a>
  </div>
</div>