<%= form_tag({:controller => 'users', :action => 'create_recommendation'}) do  %>
<div id="writeRecommendation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><i class="icon-file-text-alt"></i> Recommendation for <%= @user.name %></h3>
  </div>
  <div class="modal-body">
      <input type="hidden" id="writer_id" name="writer_id" value="<%= current_user.id %>">
      <textarea id="content" name="content" rows="3" class="input-small input-block-level" placeholder="Write a recommendation"></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button type="submit" class="btn btn-success"><b>Save</b></button>
  </div>
</div>
<% end %>